html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(135deg, #6f4e37, rgb(54, 41, 41) ); 
    color: #333;
}

header {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}


.header-img {
  width: 100%;
  height: 100%;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-text h1 {
  font-size: 48px;
  margin: 0;
}

.header-text p {
  font-size: 20px;
  margin-top: 10px;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(135deg, #6f4e37, rgb(54, 41, 41) ); 
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    backdrop-filter: blur(5px);
    z-index: 9999;
}

nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: #6a1b1b;
  padding: 9px 15px;
  border-radius: 10px;
  margin: 0 5px;
  font-weight: bold;
  transition: 0.3s;
  background-color: white;
}

h2 {
    text-align:center;
    color:white;
    margin-top:20px;
}

/* ===== FORM CONTAINER ===== */
#AdminAddForm {
    width: 400px;
    margin: 10px auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* ===== FORM LABEL ===== */
#AdminAddForm label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
}

/* ===== INPUTS ===== */
#AdminAddForm input,
#AdminAddForm textarea,
#AdminAddForm select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

/* ===== TEXTAREA ===== */
#AdminAddForm textarea {
    resize: none;
    height: 85px;
}

/* ===== SUBMIT BUTTON ===== */
#AdminAddForm button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #6f4e37;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

#AdminAddForm button:hover {
    background: #513a28;
}
